cycler==0.10.0
Cython==0.29.3
dateutils==0.6.6
Django==2.1.5
gcloud==0.17.0
googleapis-common-protos==1.5.6
httplib2==0.12.0
jws==0.1.3
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.16.0
oauth2client==3.0.0
opencv-python==4.0.0.21
pandas==0.23.4
Pillow==5.4.1
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycryptodome==3.4.3
pyparsing==2.3.1
Pyrebase==3.0.27
pytesseract==0.2.6
python-dateutil==2.7.5
python-jwt==2.0.1
pytz==2018.9
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
six==1.12.0
tesseract-ocr==0.0.1
gunicorn
Unipath
whitenoise
django_heroku